extends layout.pug

block list-box
    if error 
        p.warning Please add task 
    form.form(action='add' method="POST")
        input.task(type='text' placeholder='Add your task here', name='todo')
        button.btn Add
        
    div.todos
        if todos.length
            each todo in todos
                p.todo #{todo.description}
        else
            p.todo No any tasks available