doctype html
html(lang="en")
    head
        title MyToDoList
        link(rel="stylesheet", href="/static/style.css")
    body 
        div.container
            h1.logo Tasks to be done
            block list-box