doctype html
html(lang="en")
    head
        title MyToDoList
        link(rel="stylesheet", href="/static/style.css")
    body 
        div.container
            h1.logo Your Task List
            block number1